{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto mb-3">
                <h2>About</h2>
                <hr />
                <p>
                    At Movies Store, we offer a vast digital library that spans across genres, ensuring there's something for every movie lover. Browse our extensive collection of films, including the latest releases, timeless classics, and hidden gems. With just a few clicks, you can rent or purchase your favorite titles and instantly stream them in high-definition quality.
                </p>
                <p>
                    Discover the convenience of our digital platform, where you have the flexibility to watch movies on your preferred device, whether it's a smart TV, tablet, or smartphone. With our intuitive search and recommendation features, finding your next movie night pick has never been easier.
                </p>
                <p>
                    This is a phenomenal and incomparable library of movies and films, one-of-a-kind, and has been created by Jonathan for the enjoyment of all people. Though I am interested in films, my primary interest is in Ariana Grande, who is pictured to the right, and I would like to bring attention to her phenomenal work.
                </p>
                <p>
                    But first, I will describe to you the features of this website. One can purchase movies and leave reviews for them under the movie tab and then complete any orders in the cart tab. All proceeds from this website go to needy children—namely, myself.
                </p>
                <p>
                    Now, for the reason you all came, below is an excerpt from a true work of art:
                </p>
                <pre>
It's like you got superpowers
Turn my minutes into hours
You got more than 20-20, babe
Made of glass, the way you see through me

You know me better than I do
Can't seem to keep nothing from you
How you touch my soul from the outside
Permeate my ego and my pride

I wanna love me
The way that you love me
Ooh, for all of my pretty and all of my ugly too
I'd love to see me from your point of view
I wanna trust me 
The way that you trust me 
Ooh, 'cause nobody ever loved me like you do
I'd love to see me from your point of view

—Ariana Grande-Butera
                </pre>
            </div>
            <div class="col-md-6 mx-auto mb-3 text-center">
                <img src="{% static 'img/ariana.png' %}" class="img-fluid" alt="about" />
            </div>
        </div>
    </div>
</div>

{% endblock content %}
